:root {

  /* Colors */
  --primary-color: #1F1E1D;
  --secondary-color: #8F8D8B;
  --accent-color: #007BFF;
  --accent-color-dark: #0069d9;
  --background-color: #FFFFFF;

  /* Typography */
  --font-family: InterVariable, monospace, system-ui, sans-serif;
  --font-size-base: 20px;
  --font-size-large: 52px;
  --font-size-small: 14px;
  --font-weight-normal: 360;
  --font-weight-bold: 640;
  --font-weight-strong: 640;
  --line-height-base: 1.5;

  /* Spacing */
  --spacing-small: 8px;
  --spacing-medium: 12px;
  --spacing-large: 24px;
  --spacing-xlarge: 32px;

  /* Shapes */
  --border-radius: 4px;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: var(--font-family), serif;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  background-color: var(--background-color);
  color: var(--primary-color);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: var(--spacing-large);
}

h1 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  line-height: 56px;
  letter-spacing: -0.8px;
}

h2 {
  font-size: 32px;
  font-weight: 640;
  line-height: 42px;
}

h3 {
  font-size: 20px;
  line-height: 32px;
  font-weight: var(--font-weight-strong);
}

strong {
  font-weight: var(--font-weight-strong);
}

p {
  margin-top: 0;
  font-size: 20px;
  line-height: 32px;
  font-weight: 345;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul, ol {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: var(--spacing-medium);
  line-height: 32px;
}

ul li {
  display: block;
  position: relative;
  margin-bottom: 12px;
  font-weight: var(--font-weight-normal);
}

ul li:before {
  content: "\2022";
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  top: 0;
  left: -14px;
}

ol {
  counter-reset: level1;
}

ol li {
  display: block;
  position: relative;
  margin-bottom: 12px;
  font-weight: var(--font-weight-normal);
}

ol li:before {
  content: counter(level1) " ";
  counter-increment: level1;
  position: absolute;
  font-size: 16px;
  top: 0.7px;
  left: -15.3px;
  display: block;
  width: 8px;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  height: 36px;
  width: 100%;
  background-color: var(--background-color);
  z-index: 10;
}

.nav-content {
  max-width: 840px;
  margin: 0 auto;
}

.logo {
  position: relative;
  top: 6px;
}

/* Specific Styles for the Personal Webpage */
.content {
  max-width: 840px;
  margin: 0 auto;
  padding: 120px 0 0;
  position: relative;
}
section {
 margin-top: 64px;
}

section h3 {
  margin-bottom: var(--spacing-medium);
}

section p {
  margin-bottom: var(--spacing-medium);
}

.secondary {
  color: var(--secondary-color);
}

.caption {
  font-size: 16px;
  line-height: 24px;
}

#professional-experience,
#product-design-cases,
#my-projects,
#notes {
  margin-bottom: var(--spacing-xlarge);
}

#professional-experience ul li {
  margin-bottom: 4px;
}

footer {
  margin-top: 64px;
  margin-bottom: 160px;
}

footer p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 360;
}