:root {
  /* Colors */
  --constant_black: #141413;
  --caption_dark: #757475;
  --caption: #a1a099;
  --caption_light: #d7d5d1;
  --background_dark: #e6e5e2;
  --background: #f3f1ee;
  --base: #ffffff;
  --accent_light: #dae5ff;
  --accent: #3027e5;

  /* Typography */
  --font-family: InterVariable, monospace, system-ui, sans-serif;
  --font-size-base: 20px;
  --font-size-base-mobile: 16px;
  --font-size-large: 64px;
  --font-size-large-mobile: 52px;
  --font-size-h2: 32px;
  --font-size-h2-mobile: 28px;
  --font-size-small: 14px;
  --font-weight-normal: 360;
  --font-weight-bold: 720;
  --font-weight-strong: 640;
  --font-weight-medium: 550;
  --font-weight-p: 345;
  --font-weight-ol-before: 600;
  --line-height-base: 1.6;
  --line-height-h1: 62px;
  --line-height-h1-mobile: 52px;
  --line-height-h2: 42px;
  --line-height-h2-mobile: 36px;
  --line-height-h3: 32px;
  --line-height-h3-mobile: 28px;
  --line-height-p: 32px;
  --line-height-p-mobile: 22px;

  /* Spacing */
  --spacing-xxsmall: 4px;
  --spacing-xsmall: 6px;
  --spacing-small: 8px;
  --spacing-medium: 12px;
  --spacing-regular: 16px;
  --spacing-medium-plus: 20px;
  --spacing-large: 24px;
  --spacing-xlarge: 32px;
  --spacing-xxlarge: 48px;

  --container-width: 788px;
  --link-padding-bottom: 4px;
  --link-border-radius: 2px;
  --link-decoration-thickness: 2px;
  --link-transition-duration: 240ms;

  /* Shapes */
  --border-radius: 4px;
  --border-radius-small: 8px;
  --border-radius-medium: 16px;
  --border-radius-large: 24px;

  /* breakpoints */
  --breakpoint-mobile: 600px;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  color: var(--base);
  text-decoration-color: var(--base);
  background-color: var(--constant_black);
  background-size: 100% 100%;
}

body {
  margin: 0;
  font-family: var(--font-family), serif;
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  background-color: var(--base);
  color: var(--constant_black);
  overflow-x: hidden;
}

@media (max-width: 600px) {
  body {
    font-size: var(--font-size-base-mobile);
  }
}

@media (max-width: 413px) {
  body {
    overflow-x: visible;
  }
}

/* --- Typography --- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: var(--spacing-large);
}

h1 {
  font-size: var(--font-size-large);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-h1);
  letter-spacing: -0.8px;
}

@media (max-width: 600px) {
  h1 {
    font-size: var(--font-size-large-mobile);
    line-height: var(--line-height-h1-mobile);
  }
}

h2 {
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-strong);
  line-height: var(--line-height-h2);
  letter-spacing: -0.05px;
}

@media (max-width: 600px) {
  h2 {
    font-size: var(--font-size-h2-mobile);
    line-height: var(--line-height-h2-mobile);
  }
}

h3 {
  font-size: var(--font-size-base);
  line-height: var(--line-height-h3);
  font-weight: var(--font-weight-strong);
  letter-spacing: -0.05px;
}

@media (max-width: 600px) {
  h3 {
    font-size: var(--font-size-base-mobile);
    line-height: var(--line-height-h3-mobile);
  }
}

.numbered-heading {
  position: relative;
}

.heading-number {
  position: absolute;
  left: -16px;
  top: -0.5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 33px;
}

@media (max-width: 600px) {
  .heading-number {
    left: -11.5px;
    top: 0;
    font-size: 12px;
    line-height: 27px;
  }
}

strong {
  font-weight: var(--font-weight-strong);
  font-variant-numeric: slashed-zero;
}

p {
  margin-top: 0;
  font-size: var(--font-size-base);
  line-height: var(--line-height-p);
  font-weight: var(--font-weight-p);
}

@media (max-width: 600px) {
  p {
    font-size: var(--font-size-base-mobile);
    line-height: var(--line-height-p-mobile);
  }
}

* + p > img,
* + p > video {
  margin-top: var(--spacing-medium) !important;
}

h2 + p > img,
h2 + p > video {
  margin-top: var(--spacing-medium-plus) !important;
}

.quote {
  font-weight: var(--font-weight-strong);
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -0.05px;
  position: relative;
}

.quote:before {
  content: '"';
  font-size: 32px;
  line-height: 42px;
  position: absolute;
  top: 0;
  left: -20px;
}

section .quote {
  margin-bottom: var(--spacing-xlarge);
}

@media (max-width: 893px) {
  .quote:before {
    left: -13px;
  }
}

@media (max-width: 600px) {
  .quote {
    font-size: 16px;
    line-height: 22px;
  }

  .quote:before {
    font-size: 28px;
    font-weight: var(--font-weight-medium);
    line-height: 22px;
    top: -2px;
    left: -13px;
  }
}

/* --- Links --- */
a.link {
  font-size: inherit;
  border-radius: var(--link-border-radius);
  padding-bottom: var(--link-padding-bottom);
  color: var(--constant_black);
  text-decoration: underline;
  text-decoration-color: var(--caption_light);
  text-decoration-thickness: var(--link-decoration-thickness);
  text-underline-offset: 0.25em;
  background-color: transparent;
  transition: all var(--link-transition-duration) ease-out;
}

@media (max-width: 600px) {
  a.link {
    line-height: var(--line-height-p-mobile);
  }
}

a.link:hover {
  color: var(--base);
  text-decoration-color: var(--base);
  background-color: var(--constant_black);
  background-size: 100% 100%;
}

a.link:hover::selection {
  background-color: inherit; /* Ensure hover background remains */
  color: inherit; /* Ensure hover text color is preserved */
  border-radius: var(--link-border-radius);
  overflow: hidden;
}

a.link:active {
  color: var(--caption);
  text-decoration-color: var(--caption);
}

.link-block {
  display: block;
  line-height: 20px;
}

a.disabled-link {
  color: var(--caption_dark);
  cursor: not-allowed;
}

a.disabled-link:hover {
  color: currentColor;
  background-color: transparent;
  text-decoration-color: var(--caption_light);
}

a.disabled-link:active {
  color: currentColor;
  background-color: transparent;
  text-decoration-color: var(--caption_light);
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: var(--spacing-medium);
}

ul li {
  display: block;
  position: relative;
  margin-bottom: var(--spacing-large);
  font-weight: var(--font-weight-normal);
}

@media (max-width: 600px) {
  .index-page ul li {
    margin-bottom: var(--spacing-xxsmall);
  }

  ul li {
    margin-bottom: var(--spacing-regular);
    line-height: var(--line-height-p-mobile);
  }
}

.content ul li:before {
  content: "";
  display: block;
  background-color: var(--constant_black);
  width: 3px;
  height: 3px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  top: 14.5px;
  left: -12.5px;
}

@media (max-width: 600px) {
  .content ul li:before {
    font-size: 10px;
    top: 10px;
    left: -9px;
  }
}

@media (max-width: 893px) {
  .content ul li:before {
    left: -9px;
  }
}

.content ul li.inactive:before {
  background-color: var(--caption);
}

ol {
  counter-reset: level1;
}

ol li {
  display: block;
  position: relative;
  margin-bottom: var(--spacing-large);
  font-weight: var(--font-weight-normal);
}

@media (max-width: 600px) {
  ol li {
    margin-bottom: var(--spacing-regular);
  }
}

ol li:before {
  content: counter(level1) " ";
  counter-increment: level1;
  position: absolute;
  font-size: 16px;
  font-weight: var(--font-weight-ol-before);
  top: 3px;
  left: -15.3px;
  display: block;
  width: 8px;
  text-align: center;
}

ul.list-with-secondary-items > li:before,
ol.list-with-secondary-items > li:before {
  background-color: var(--caption);
  color: var(--caption);
}

ul.list-with-secondary-items > li,
ol.list-with-secondary-items > li {
  margin-bottom: var(--spacing-xxsmall);
}

@media (max-width: 600px) {
  ol li:before {
    font-size: 12px;
    top: 1px;
    left: -11px;
  }
}

@media (max-width: 893px) {
  ol li:before {
    left: -12px;
  }
}

ol li div:first-child {
  margin-bottom: 2px;
}

nav.header {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 40px;
  background-color: var(--base);
  z-index: 10;
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
}

.nav-content {
  max-width: 893px;
  min-width: 413px;
  margin: 0 auto;
  padding: 4px 26px 4px 27px;
  display: flex;
  align-items: flex-start;
}

.logo {
  text-decoration: none;
  position: relative;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  display: inline-block;
  opacity: 1;
  visibility: visible;
  transition:
    opacity 0.3s ease,
    visibility 0.3s ease;
  overflow: hidden;
}

.logo:before {
  display: none;
}

.breadcrumbs {
  display: inline-block;
  margin-left: var(--spacing-small);
    line-height: 1.3;
}

@media (max-width: 600px) {
    .breadcrumbs {
        line-height: 1.8;
    }
}

.breadcrumbs a.link {
  font-size: 16px;
  line-height: 24px;
  font-weight: var(--font-weight-normal);
}

.separator {
  font-size: 16px;
  line-height: 24px;
  font-weight: var(--font-weight-normal);
  margin: 0 1px 0 var(--spacing-xsmall);
}

@media (max-width: 600px) {
  .nav-content {
    max-width: var(--container-width);
  }
}

@media (max-width: 893px) {
  .nav-content {
    padding: 4px 16px;
  }
}

.inactive {
  color: var(--caption);
}

.hidden {
  opacity: 0;
  visibility: hidden;
  display: block;
  height: 0;
}

.metadata {
  display: flex;
  gap: 0.2em;
  align-items: center;
  color: var(--caption_dark);
  margin-bottom: var(--spacing-large);
  font-size: 16px;
  font-weight: var(--font-weight-normal);
  line-height: 22px;
}

.metadata a {
  color: var(--caption_dark);
}

.metadata img {
  vertical-align: middle;
  margin-right: 0.2em;
}

.image {
  width: calc(100% + var(--spacing-regular));
  margin: 0 calc(-1 * var(--spacing-small));
  height: auto;
}

video.image {
  border-radius: var(--border-radius-large);
}

.image.full {
  width: calc(100vw - var(--spacing-xlarge));
  margin: 0 auto;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  max-width: 1440px;
}

@media (max-width: 893px) {
  .image,
  .image.full {
    width: calc(100% + var(--spacing-xlarge));
    margin: 0 calc(-1 * var(--spacing-regular));
  }

  .image.full {
    left: auto;
    right: auto;
    transform: none;
  }

  .image {
    border-radius: var(--border-radius-small);
  }
}

.paragraph-with-list-block {
  margin: var(--spacing-xlarge) 0;
}

.paragraph-with-list-block p {
  margin-bottom: var(--spacing-medium);
}

@media (max-width: 600px) {
  .paragraph-with-list-block {
    margin: var(--spacing-large) 0;
  }

  .paragraph-with-list-block p {
    margin-bottom: var(--spacing-small);
  }
}

.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 56px;

  gap: var(--spacing-small);

  position: relative;
  left: calc(-1 * var(--spacing-small));

  font-size: 20px;
}

@media (max-width: 600px) {
  .social {
    display: block;
    left: -12px;

    margin-top: 34px;
  }
}

.dot-separator {
  display: inline;
  visibility: visible;
}

@media (max-width: 600px) {
  .dot-separator {
    display: none;
    visibility: hidden;
  }

  .like-container {
    margin-bottom: 42px;
  }
  .share {
    padding-left: 12px;
  }
}

#copy-link {
  cursor: pointer;
}

/*--- Specific Styles for the Personal Webpage ---*/
.title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-large);
}

.avatar {
  width: 80px;
  height: 80px;
  margin-bottom: 60px;
  position: relative;
  left: -4px;
}

@media (max-width: 893px) {
  .avatar {
    margin-bottom: 44px;
  }
}

.title-wrapper h1 {
  margin-left: var(--spacing-regular);
  margin-bottom: 0;
}

.content {
  max-width: 893px;
  min-width: 413px;
  margin: 0 auto;
  padding: 120px 26px 0 27px;
  position: relative;
}

@media (max-width: 893px) {
  .content {
    padding: 120px 16px 0 16px;
  }
}

@media (max-width: 600px) {
  .content {
    max-width: var(--container-width);
  }
}

section {
  margin-top: 64.5px;
}

@media (max-width: 600px) {
  section {
    margin-top: var(--spacing-xxlarge);
  }
}

section h2,
section h3 {
  margin-bottom: var(--spacing-medium);
}

@media (max-width: 600px) {
  section h3 {
    margin-bottom: var(--spacing-xsmall);
  }
}

section p {
  margin-bottom: var(--spacing-medium-plus);
}

@media (max-width: 600px) {
  section p {
    margin-bottom: 19px;
  }
}

#contacts p {
  margin-bottom: var(--spacing-medium);
}

.secondary {
  color: var(--caption_dark);
}

.link-caption-wrapper {
  cursor: pointer;
}

.link-caption-wrapper:hover .link,
.link-caption-wrapper:focus-within .link {
  color: var(--base);
  text-decoration-color: var(--base);
  background-color: var(--constant_black);
  background-size: 100% 100%;
}

.link-caption-wrapper:active .link {
  color: var(--caption);
  text-decoration-color: var(--caption);
}

.disabled-link,
.disabled-link:hover,
.link-caption-wrapper:hover .disabled-link,
.link-caption-wrapper:active .disabled-link,
.link-caption-wrapper:focus-within .disabled-link {
  color: var(--caption_dark);
  text-decoration-color: var(--caption_light);
  background-color: transparent;
  cursor: not-allowed;
}

.link-caption-wrapper .caption {
  cursor: pointer;
}

.caption {
  font-size: 16px;
  line-height: 24px;
  color: var(--caption_dark);
}

@media (max-width: 600px) {
  .caption {
    font-size: 12px;
    line-height: 16px;
  }
}

#professional-experience ul li {
  margin-bottom: var(--spacing-xxsmall);
  font-variant-numeric: slashed-zero;
}

#product-design-cases ol li {
  margin-bottom: var(--spacing-regular);
}

#my-projects ul li {
  margin-bottom: var(--spacing-regular);
}

#notes ul li {
  margin-bottom: var(--spacing-regular);
}

@media (max-width: 600px) {
  #product-design-cases h3,
  #my-projects h3,
  #notes h3 {
    margin-bottom: var(--spacing-xsmall);
  }
}

#product-design-cases .link-block,
#my-projects .link-block,
#notes .link-block {
  padding-top: var(--spacing-xsmall);
  padding-bottom: var(--spacing-xsmall);
}

@media (max-width: 600px) {
  #product-design-cases .link-block,
  #my-projects .link-block,
  #notes .link-block {
    padding-top: 0;
    padding-bottom: 0;
  }
}

footer {
  max-width: 893px;
  min-width: 413px;
  margin: 160px auto var(--spacing-xxlarge);
  padding: 0 26px 0 27px;
}

@media (max-width: 600px) {
  footer {
    margin: 128px auto var(--spacing-xxlarge);
    max-width: var(--container-width);
    padding: 0 16px 0 16px;
  }
}

footer p {
  font-size: 16px;
  line-height: 24px;
  font-weight: var(--font-weight-normal);
}
