---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About me" description="Product designer and design manager">
  <div class="metadata">
    <time datetime="2024-10-16">Updated November 16, 2024</time>
  </div>
  <header>
    <h1 id="title">About me</h1>
    <h2>
      As an experienced product designer, I am passionate about the diverse
      domains that design impacts. My interests span human behavior, interaction
      design, business strategy, systems thinking, writing, mindfulness
      practices, longevity, goal setting, and productivity.
    </h2>
    <h2>
      I believe in a holistic approach. I believe everything is interlinked. I
      believe that physical and digital should work as one. I believe we should
      design ourselves first. I believe aesthetics comes above experiment. I
      believe that beautiful things work better. I believe there are too many
      things around us. I believe there should be fewer, but better designed
      things.
    </h2>
    <h2>
      I am convinced that the only true source of certainty lies in the systems
      we build for ourselves. This drives my mission to develop a universal
      self-design system and share it with like-minded individuals.
    </h2>
  </header>
  <section>
    <h2>My professional journey</h2>
    <ol>
      <li>
        I remember drawing people and vehicles on a small scale throughout my
        childhood, despite having no formal art education. As an introverted
        kid, I gravitated towards reading and enjoyed building things with Lego,
        wood, and paper.
      </li>
      <li>
        In university, I realized I share a designer's last name with <a
          href="https://en.wikipedia.org/wiki/Igor_Sikorsky"
          target="_blank"
          class="link">Igor Sikorsky</a
        > (the inventor of the helicopter), and discovered my passion for design.
        I learned Photoshop and began creating graphics for events and blog posts.
      </li>
      <li>
        In 2012 I started my career in sales (selling websites), while
        simultaneously learning web technologies and design basics.
      </li>
      <li>
        In 2013 I landed my first design job at a local studio <a
          href="http://maximumsoft.ru/"
          target="_blank"
          class="link">Maximumweb</a
        >. I spent a wonderful year designing banners, websites, mobile apps,
        and user interfaces for tech startups, while also meeting 75% of my
        friends.
      </li>
      <li>
        In 2014 I moved to the CPA affiliate media network <a
          href="https://advertise.net/"
          target="_blank"
          class="link">Advertise</a
        >, where I led the rebranding and redesign of the entire product.
      </li>
      <li>
        In 2015 I studied at the first <a
          href="https://yandex.ru/design-school"
          target="_blank"
          class="link">Yandex Design School</a
        >. I deepened my knowledge of product design and connected with dozens
        of talented designers who influenced my style.
      </li>
      <li>
        In 2016 I joined the international startup <a
          href="https://www.behance.net/gallery/97424535/Storiame-Product-Design"
          target="_blank"
          class="link">Storia</a
        >. I designed the publishing flow and learned various aspects of
        user-generated content creation.
      </li>
      <li>
        In 2017 I became part of the world's first classified platform <a
          href="https://www.avito.ru/"
          target="_blank"
          class="link">Avito</a
        >, founded by two Swedes. <a href="/change" class="link"
          >For seven years</a
        >, I was responsible for the seller's experience, focusing on content
        creation interfaces and content quality. In the last couple of years, I
        transitioned into managing the design team, where I enjoyed mentoring
        and empowering designers.
      </li>
    </ol>
  </section>
  <section>
    <h2>I enjoy establishing reliable principles and routines</h2>
    <p>
      I have a natural need to organize the world around me, it has always been
      that way. Structure breeds constraint, and constraint breeds clarity and
      creativity. While it is often easy to add new details to a project, I find
      it much more appealing to subtract unnecessary elements and provide a
      proper structure to what remains essential. I trust this process to reveal
      the beauty inherent in the original idea.
    </p>
    <p>
      My holistic approach reflects my desire to engage with broad physical
      processes rather than just their implications in interfaces. We have
      dedicated much of our lives to screens, but real life continues to unfold
      outside of them. For me, the challenge is to design this transition to be
      as natural as possible.
    </p>
    <p>
      I typically aim to create before managing, as management can easily
      consume all available time, leaving no room for producing artifacts.
      Therefore, I often establish a system of routines to ensure predictable
      results. A daily schedule for myself, various regular syncs
      and check-lists for the team.
    </p>
    <div class="paragraph-with-list-block">
      <p>The set of skills I apply in my work includes:</p>
      <ul>
        <li>
          <strong>Design leadership.</strong> I build teams by hiring and onboarding
          designers, researchers, and managers. I mentor junior designers and strive
          to inspire my team members.
        </li>
        <li>
          <strong>Product strategy.</strong> I support my team in developing a product
          vision and setting long-term goals.
        </li>
        <li>
          <strong>Product management.</strong> I own product initiatives and guide
          products from ideation to revenue generation.
        </li>
        <li>
          <strong>Product discovery.</strong> I research user needs, conduct in-depth
          interviews, study competitors, and analyze technical limitations to propose
          the best solutions.
        </li>
        <li>
          <strong>UX writing.</strong> I often start with content, crafting everything
          from buttons to comprehensive user guides.
        </li>
        <li>
          <strong>UX/UI/IxD design.</strong> Design is never static. I often begin
          by building prototypes even before the style concept is finalized, to get
          a sense of how product works. Afterward, I add style and iterate.
        </li>
        <li>
          <strong>Usability testing.</strong> I validate all my solutions with real
          user feedback through guerrilla, usability, and side-by-side testing.
        </li>
        <li>
          <strong>Product development.</strong> I thrive in an agile environment,
          collaborating with the delivery team before launch and tracking implementation
          results.
        </li>
      </ul>
    </div>
    <p>
      Regardless of the specific work I do on any given project, I always strive
      to leave it better than it was before me.
    </p>
  </section>
  <section>
    <h2>I design myself first</h2>
    <p>
      For me, design is not just a profession, it’s a way of viewing the world.
      I truly believe that we should design ourselves first, and through that
      process, discover principles applicable to everything else.
    </p>
    <div class="paragraph-with-list-block">
      <p>
        I developed <a href="/ld" class="link"
          >a framework of artifacts and practices</a
        > that I use in my daily life:
      </p>
      <ul>
        <li>
          <strong>Vision.</strong> I have a vision for my life in 10 years, a practice
          I adopted from designer <a
            href="https://debbiemillman.com/"
            target="_blank"
            class="link">Debbie Millman</a
          >. This approach allows me to dream big, visualize the way I want to
          live, and guides my goal-setting process.
        </li>
        <li>
          <strong>Goals.</strong> Every year, I set 100 goals across 12 major areas
          of my life to maintain balance. Half of these goals come from my vision,
          while the other half come from my past year review, <a
            href="https://tim.blog/2021/12/27/past-year-review/"
            target="_blank"
            class="link">a practice inspired by Tim Ferriss</a
          >. The exact number is not what matters, rather it’s the ease of
          tracking progress. The general idea is simple: the more goals you set,
          the more you can achieve.
        </li>
        <li>
          <strong>Tasks.</strong> I use a simple <a
            href="https://gettingthingsdone.com/"
            target="_blank"
            class="link">GTD technique</a
          > to manage my daily tasks. These tasks are typically linked to either
          major areas of my life or specific projects. One of the most useful sub-practices
          is maintaining an inbox where I can capture all upcoming ideas, so they
          don’t distract me.
        </li>
        <li>
          <strong>Habits.</strong> The easiest way to achieve your larger goals is
          to take small steps in your daily activities and practice them regularly,
          even if it's just for 5 minutes at a time. Tracking your progress can be
          beneficial for activities such as exercise, healthy eating, writing, cold
          showers, and meditation.
        </li>
        <li>
          <strong>Metrics.</strong> The main idea is to build a minimal set of the
          most important metrics that can indicate whether you are doing well in
          life. I have three key metrics, which I adopted from <a
            href="https://tim.blog/2020/11/30/jim-collins-returns/"
            target="_blank"
            class="link">Jim Collins</a
          >: hours of productive work a day, an emotional state rating from -2
          to 2, and physical well-being on a scale of 0 to 10.
        </li>
        <li>
          <strong>Daily journaling practice.</strong> I have been journaling every
          day since 2015, and I find this practice to be the most rewarding. When
          I am in doubt or experiencing difficult feelings, I simply write them down,
          which helps relieve the pressure. Journaling is also a great way to recall
          what I was doing on each particular day in the past.
        </li>
      </ul>
    </div>

    <p>
      This approach to structuring my life helps me feel more grounded as I
      discover and apply my purpose. I constantly adapt it to make it more
      cohesive, comprehensive, and useful. Change is the only constant. I use
      different tools for these practices and am working on integrating them
      into one system, ultimately aiming for a single tool. I believe that with
      a touch of AI, this can provide significant leverage for living a
      conscious and healthy life.
    </p>
    <p>
      In addition to this system, I have also organized my readings, travels,
      contacts, possessions, design, and self-knowledge bases. I strive to
      create a useful system that can operate independently with my minimal
      conscious involvement.
    </p>
  </section>
  <section>
    <h2>I love to be active</h2>
    <p>
      We often forget that we are not just our minds, but our entire bodies. I
      deeply admire body practices and strive to maintain my physical health,
      which has resulted in a clearer mind and an overall sense of well-being.
    </p>
    <p>
      My regular practices include weight training, swimming, cycling,
      stretching, cold showers, and sauna sessions. Occasionally, I also enjoy
      nail standing, massage, sailing, and free diving.
    </p>
    <p>
      I love to walk and aim to cover at least 15 km every day. This helps me
      catch up on books and podcasts, meet my daily activity goals, clear my
      mind, and generate insights and ideas.
    </p>
    <p>
      I believe that many of our problems could be alleviated if we simply moved
      more. Action comes before motivation, the simple act of moving your body
      can change your mood and ultimately your behavior. Discipline over
      motivation. No hurry, no pause.
    </p>
  </section>
  <section>
    <h2>I'm a minimalist</h2>
    <p>
      I hate waste. It terrifies me how much stuff is beeing produced nowadays.I
      dislike throwing away food. I dislike the feeling of having more than I
      need. I prefer to own a few well-designed quality items. My favorite
      possession is a wooden brick from a Dutch design studio with the slogan:
      "You have everything, you need nothing."
    </p>
    <p>
      I only buy things that I love. If it's a big purchase, it has to lie in
      the wishlist for several months to make sure I really want it and it's not
      some marketing trick being played on me. I have 10 slots for cloth and
      gadgets per year. I try to get rid of two things when I buy a new one.
    </p>
  </section>
  <section>
    <h2>I would love to hear from you</h2>
    <p>
      If you found anything that resonates with you here, please introduce
      yourself:
    </p>
    <p>
      <a href="https://t.me/IngMaeSing" class="link" target="_blank">Telegram</a
      >,
      <a
        href="https://www.linkedin.com/in/paulsikorsky/"
        class="link"
        target="_blank">LinkedIn</a
      >,
      <a href="https://read.cv/ingmaesing" class="link" target="_blank"
        >Read.cv</a
      >,
      <a href="mailto:p@sikorsky.design" class="link">p@sikorsky.design</a>.
    </p>
  </section>
</Layout>
