---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Baseline" description="Holistic life calendar" pageId="baseline">
  <div class="metadata">
    <time datetime="2024-10-16">Updated October 11, 2025 · goal-setting, journaling</time>
  </div>
  <header>
    <h1 id="title">Baseline</h1>
    <h2>
      Holistic journal that maps the structure of your life, revealing how your past, present, and future connect. It helps you see time and key metrics clearly so you can focus on what truly matters.
    </h2>
  </header>
  <section>
    <h2>Key idea</h2>
    <p>
      I’m building a universal self-design system that integrates <a href="/ld" class="link">the personal growth practices I use</a> into an AI-powered journal. I've been journaling every day since April 2015, and it’s the single practice that has impacted my life the most.
    </p>
    <p>
      There are many other practices I’ve tested on myself over the past ten years. The problem is, they’re all scattered across different apps, so there’s no way to see the full history or long-term progress.
    </p>
    <p>
      Holistic journal connects your past and future through the present moment; blending reflection, self-regulation, and productivity. It maps the structure of your life and helps you write the story you’ll want to remember. It captures your thoughts, emotions, goals, tasks, events, meetings, habits, and key metrics, training your personal assistant with this data.
    </p>
    <p>
      It brings you back to the present moment through regular writing, weaving each moment into the larger flow of your life.
    </p>
  </section>
  <section>
    <h2>Status update</h2>
    <p>
      I’m designing the first version at the moment. It will include a holistic life calendar and key metrics. The basic structure that everything else will build upon
    </p>
    <p>
      At the same time, I’m researching journaling practices. I’ve interviewed about ten people so far, and everyone does it a little differently. I’m genuinely curious to learn more. So if you journal regularly and want to share your experience, <a href="https://t.me/IngMaeSing" class="link" target="_blank">send me a message</a>. We'll arrange a one-hour chat.
    </p>
    <p>
      <a href="https://t.me/initsrightplace" class="link" target="_blank">Follow my channel</a> for project updates, I’ll be posting everything there.
    </p>
  </section>
   <section>
    <h2>Characteristics</h2>
    <ul>
      <li>
        Combines the best of digital and paper. You can write freely by hand on paper, then transfer your notes into a digital               structure for storage.
      </li>
      <li>
        Secure and flexible. All data belongs to the user and is stored locally in popular formats (md, txt). Optionally, advanced           encryption and password protection can be added.
      </li>
      <li>
        Collects and stores all possible data from past days. Enough to be able to reconstruct each day in your memory.
      </li>
      <li>
        Helps plan the future based on past experience.
      </li>
      <li>
        AI tools analyze behavior patterns and highlight areas for improvement.
      </li>
      <li>
        Gradually immerses you in the experience by introducing new practices and tools through a modular interface.
      </li>
    </ul>
  </section>
</Layout>
