---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Baseline" description="TODO: add description" pageId="baseline">
  <div class="metadata">
    <time datetime="2024-10-16">Updated October 5, 2025</time>
  </div>
  <header>
    <h1 id="title">Baseline</h1>
    <h2>
      Holistic journal that maps the structure of your life, revealing how your past, present, and future connect. It helps you see time and key metrics clearly so you can focus on what truly matters.
    </h2>
  </header>
  <section>
    <h2>Key idea</h2>
    <p>
      I’m building a universal self-design system that integrates <a href="/ld" class="link">the personal growth practices I use</a> into an AI-powered journal.
    </p>
  </section>
</Layout>
