---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Baseline" description="TODO: add description" pageId="baseline">
  <div class="metadata">
    <time datetime="2024-10-16">Updated November 16, 2024</time>
  </div>
  <header>
    <h1 id="title">Baseline</h1>
    <h2>
      TODO: add description
    </h2>
  </header>
  <section>
    TODO: add content
  </section>
</Layout>
