---
import Layout from "../layouts/Layout.astro";
import LikeButton from "../components/LikeButton.astro";
---

<Layout title="What I Learned about Change as a Product Designer at Avito">
  <div class="metadata">
    <time datetime="2024-04-30">April 30, 2024</time>
    ·
    <a
      class="link"
      href="https://medium.com/@IngMaeSing/what-i-learned-about-change-as-a-product-designer-at-avito-69e217d8c6ff"
      target="_blank">Originally published on Medium</a
    >
  </div>
  <header>
    <h1 id="title">
      What I Learned about Change as a Product Designer at Avito
    </h1>
    <h2>
      A reflection of a big tech company employee career path who witnessed
      dozens of changes growing from designer to a design manager, alongside the
      company growing from 600 to 6000 employees.
    </h2>
  </header>
  <section>
    <p>
      I landed this job in mid 2017, working before that in small startups and
      studios. Avito is <a
        href="https://www.similarweb.com/ru/website/avito.ru/#overview"
        class="link"
        target="_blank">the first classified in the world</a
      > with various business verticals and services. Imagine the hybrid of Craigslist,
      Amazon, and Airbnb, and you'll get the picture. It was founded by two Swedish
      entrepreneurs <a
        href="https://www.linkedin.com/in/jonas-nordlander-749274/"
        class="link"
        target="_blank"
      >
        Jonas Nordlander
      </a> and <a
        href="https://www.linkedin.com/in/filip-engelbert-b915b88/"
        class="link"
        target="_blank">Filip Engelbert</a
      > as a service that helps to give old things new life. This ecological mission
      is what got me hooked since day one.
    </p>
    <p>
      I started working as a product designer, and step by step grew to manage a
      small but furious team. Positive, open and democratic culture established
      by founders is what made this journey not only educative but also
      inspiring. I gained huge amount of knowledge, met roughly a hundred
      brilliant people, and had tons of fun moments. One experience in a
      lifetime that I'm truly grateful for.
    </p>
    <p>
      Couple of weeks ago I left <strong>Avito</strong> to explore new challenges.
      I participated in several major transformations company went through for almost
      seven years I was in, and happy to share some observations with you.
    </p>
    <p>
      <i
        >Disclaimer: all opinions in this post are based on my personal
        experience and don’t necessarily reflect how Avito operates.</i
      >
    </p>
  </section>
  <section>
    <h2>TL;DR</h2>
    <ul>
      <li>
        All substantial things are going to change. Learn to notice, embrace,
        and use these shifts to your benefit. <strong
          >Change is the only constant.</strong>
      </li>
      <li>
        Some things nevertheless will change very slowly or not at all. Study
        them with even more passion, because it's the foundation successful
        companies a built on.
      </li>
    </ul>
  </section>
  <section>
    <h2>Product changes</h2>
    <p>
      This is the most expected change of all, because you were hired to make it
      happen. But don't expect to notice it in a first month or two. The bigger
      the product, the slower it would change. When you are closely involved in
      company processes it's easy to loose the bird view and stuck in small
      details. The years of hard work would eventually pile up. Find a time to
      overview what was done, and you'll be pleased to be the part of that
      change.
    </p>
    <p>
      A tip for designers — save a picture of a product you are going to work on
      at the first day of your job. You can compare it with the result you'll be
      leaving behind some time in the future. It also makes a solid illustration
      for your portfolio.
    </p>
  </section>
  <section>
    <h2>Plans change</h2>
    <p>
      When you spent couple of weeks learning about company strategy for the
      next year, gathering allied teams plans to achieve synergy, perfectly
      crafting your backlog and advocating it with stakeholders, it gets painful
      to throw it away because plans changed. Sometimes you can't help it. No
      one expected pandemic or war. They happened.
    </p>
    <p>
      Hear me out, you can and should plan, but you'll never be ready when the
      real change appears. Deal with it and move on.
    </p>
  </section>
  <section>
    <h2>Your skills change</h2>
    <p>
      You will grow professionally, learn new skills, try new tools, and work on
      more complex projects. Years passing by, you'll look at your previous work
      and see it as garbage. This is a sign of growth. It is exactly why you
      joined the company in the first place. Not to trade your time for money,
      but rather to become a better designer and human being.
    </p>
    <p>
      Perceive your time in a company more like an education than work. You came
      to learn, and there are plenty of opportunities for that.
    </p>
  </section>
  <section>
    <h2>Team changes</h2>
    <p>
      In a big company you get new people in a team on a quarterly basis. It's
      hard to get along with them, especially if you are an introvert like me.
      You invest time and energy getting to know them and adapting to their work
      style. And when you finally succeed, they leave. It does not get easier. I
      remember dozens of my teammates, and cherish moments we shared together. I
      learned a lot from them, and would not achieve that much without their
      help.
    </p>
    <p>
      But don't get too sad. They leave for the better. Remember, that the basic
      part of a team is you. And the principles on which you build relationships
      with each teammate.
    </p>
  </section>
  <section>
    <h2>Managers change</h2>
    <p>
      I had seven of them for the past seven years. Some were nice, some were
      not. Some were driven to build a superior team and product, and some were
      building their self-esteem. Some were trying to teach you something, and
      some were fighting for influence in a company. I happened to build a deep
      connection with couple of them and happy for this progress.
    </p>
    <p>
      Yeah, I know having a cool caring manager is great. But it doesn't really
      matter. Your personal and professional growth are your responsibility. And
      you can develop your skills in any circumstances.
    </p>
  </section>
  <section>
    <h2>Even office changes</h2>
    <p>
      When you arrive you will get a place in the office. The least comfortable
      one for a novice. But as time passes you'll move to a more cozy spot near
      the window. Meanwhile surroundings will change. One day you'll find
      yourself working from home, cafe or even new country with no office at
      all. And your macbook will be the only familiar thing around.
    </p>
    <p>
      It's natural to organize your workplace and get used to it. But don't get
      too comfortable, because it's not the goal. Don’t forget, that you can
      create comfort anywhere you go next. And it’s always fun to do so.
    </p>
  </section>
  <section>
    <p>
      There are definitely a lot I didn't mention. And yet some things will
      remain wonderfully untouched by the time.
    </p>
  </section>
  <section>
    <h2>Design basics don't change</h2>
    <p>
      Kinda obvious, but still noteworthy of talking about. If one day you study
      typography, contrast, color, layouts, interaction, and human behavior
      patterns, you can then use it through out all your career. Off course
      there will always be a room for improvement, enhancing different aspects
      of each skill, as well as exploring new styles.
    </p>
    <p>Learn the basics hard, and you'll be alright.</p>
  </section>
  <section>
    <h2>Customers don’t change that much</h2>
    <p>
      They always want the best user experience at a lowest price. Plus maximum
      features, but in my experience it's not necessarily true. I suppose
      customer's expectations are hugely associated with product and brand.
      Unlike product they don't really change.
    </p>
    <p>
      Study your customer's deeper needs and you'll be ahead of most designers.
      People using your product is the only reason you are getting your
      paycheck.
    </p>
  </section>
  <section>
    <h2>Brand changes very slowly</h2>
    <p>
      I guess as a product designer I have a distorted vision. But in my opinion
      it is extremely hard to change customer's perception of your brand. World
      is huge and full of things. Once people try your product, they give it a
      label in their head, and usually don't come back to revise it. So with all
      the effort of changing the way you communicate about your product, you'll
      get just a little fraction of ROI at best.
    </p>
    <p>
      The following advice would not be easy to implement by product designer,
      but whenever you have a chance to convey something to your users, be
      deliberately conscious. Because they'll remember, and won't change their
      mind any time soon.
    </p>
  </section>
  <section>
    <h2>Culture doesn't change fast either</h2>
    <p>
      It is a DNA of a company. Ones established by founders it evolves, but
      never changes drastically. It is fascinating to see how new people
      struggle adopting it at first, but after multiple interactions with
      teammates they eventually become company's culture advocates. So it is
      crucial to set a proper inner culture and outer brand in the very
      beginning.
    </p>
    <p>
      When thinking about joining new company try to learn as much as possible
      about it's values and work ethic. You won't have enough power to resist or
      even ignore it's culture ones you are in. Choose the one that correlates
      with your own values and you'll set yourself a perfect growing
      environment.
    </p>
  </section>
  <section>
    <p>
      All in all things will change, and you may have hard times adapting to it.
      My advice would be plain. Design yourself first, before designing anything
      else. Establish your routines, set up personal goals, train your body and
      mind with deliberate practice, talk to designers outside your company.
      Provide your mind an empty space to wander. Breath out. Stay positive and
      smile. If everything changes, so can you.
    </p>
  </section>
  <section>
    <p>
      Thank you for reading. I had a fun time reflecting on my experience and
      packing it in some useful tips. If you are seeking design related or
      personal growth mentorship, reach me on <a
        href="https://www.linkedin.com/in/pavelsikorsky/"
        class="link"
        target="_blank">LinkedIn</a
      > or
      <a href="https://t.me/initsrightplace" class="link" target="_blank"
        >Telegram</a
      > and we will figure something out.
    </p>
  </section>
  <LikeButton pageId="change-article" />
</Layout>
