---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Paul Sikorsky">
  <div class="index-page">
    <header>
      <h1 id="title">Paul Sikorsky</h1>
      <h2>
        Experienced product designer and design manager with a passion
        for structured æsthetics and holistic approach. On a mission to build
        a universal self-design system.
      </h2>
      <h2>
        Find out more <a href="#" class="link">about me</a>, and <a href="#" class="link">what I'm up to lately</a>.
      </h2>
    </header>
    <section id="professional-experience">
      <h3>Professional Experience</h3>
      <ul>
        <li>
          <div>
            <strong
              >Product Design Lead, <span class="secondary"
                >Avito, 2017&thinsp;–&thinsp;2024</span
              ></strong
            >
          </div>
        </li>
        <li>
          <div>
            <strong
              >Product Designer, <span class="secondary">Storia, 2016</span
              ></strong
            >
          </div>
        </li>
        <li>
          <div>
            <strong
              >UI/UX Designer, <span class="secondary"
                >Advertise, 2014&thinsp;–&thinsp;2016</span
              ></strong
            >
          </div>
        </li>
        <li>
          <div>
            <strong
              >Digital Designer, <span class="secondary"
                >MaximumSoft, 2013&thinsp;–&thinsp;2014</span
              ></strong
            >
          </div>
        </li>
      </ul>
    </section>
    <section id="product-design-cases">
      <h3>Product Design Cases</h3>
      <ol>
        <li class="inactive">
          <div class="link-caption-wrapper">
            <div class="link-block">
              <a href="#" class="link disabled-link">
                UGC uploader redesign for the world’s first classified service
              </a>
            </div>
            <div class="caption" tabindex="0">
              How we created a comprehensive vision for a complex tech product
              to support exponential growth, and increased Customer Effort Score
              (CES) by 20%
            </div>
          </div>
        </li>
        <li class="inactive">
          <div class="link-caption-wrapper">
            <div class="link-block">
              <a href="#" class="link disabled-link"
                >Avitologists certification program launch</a
              >
            </div>
            <div class="caption" tabindex="0">
              How strategic partnerships with third party marketing experts
              helped us grow our professional customers and earn $2M
            </div>
          </div>
        </li>
        <li class="inactive">
          <div class="link-caption-wrapper">
            <div class="link-block">
              <a href="#" class="link disabled-link"
                >User generated content quality research study</a
              >
            </div>
            <div class="caption" tabindex="0">
              How we refined the posting flow through experiments and
              established principles for high-quality content
            </div>
          </div>
        </li>
      </ol>
    </section>
    <section id="my-projects">
      <h3>My Projects</h3>
      <ul>
        <li>
          <div class="link-caption-wrapper">
            <div class="link-block">
              <a
                href="https://t.me/initsrightplace"
                class="link"
                target="_blank"
              >
                In It’s Right Place
              </a>
            </div>
            <div class="caption" tabindex="0">
              My Telegram channel about self-design (Russian inside)
            </div>
          </div>
        </li>
        <li class="inactive">
          <div class="link-caption-wrapper">
            <div class="link-block">
              <a href="#" class="link disabled-link">Baseline</a>
            </div>
            <div class="caption" tabindex="0">
              A pet project focused on integrating all the self-design practices
              I use into an AI-powered diary
            </div>
          </div>
        </li>
      </ul>
    </section>
    <section id="notes">
      <h3>Notes</h3>
      <ul>
        <li>
          <div class="link-caption-wrapper">
            <div class="link-block">
              <a href="/change" class="link">
                What I learned about change as a product designer at avito
              </a>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <section id="contacts">
      <h3>Contacts</h3>
      <p>
        If you're interested in doing something together, please introduce
        yourself.
      </p>
      <p>
        <a
          href="https://t.me/IngMaeSing"
          class="link"
          target="_blank"
        >
          Telegram
        </a>,
        <a
          href="https://www.linkedin.com/in/pavelsikorsky/"
          class="link"
          target="_blank"
        >
          LinkedIn
        </a>, <a href="https://read.cv/ingmaesing" class="link" target="_blank"
          >Read.cv</a
        >, <a href="mailto:p@sikorsky.design" class="link"
          >p@sikorsky.design</a>.
      </p>
    </section>
  </div>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const wrappers = document.querySelectorAll(".link-caption-wrapper");

    wrappers.forEach((wrapper) => {
      const link = wrapper.querySelector("a");
      const caption = wrapper.querySelector(".caption");

      wrapper.addEventListener("click", (e) => {
        e.preventDefault();

        if (link && !link.classList.contains("disabled-link")) {
          if (link.target === "_blank") {
            window.open(link.href, "_blank");
          } else {
            window.location.href = link.href;
          }
        }
      });

      caption?.addEventListener("keydown", (event) => {
        if (
          // @ts-ignore
          event.key === "Enter" &&
          link &&
          !link.classList.contains("disabled-link")
        ) {
          event.preventDefault();
          link.click();
        }
      });
    });
  });
</script>
