---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Paul Sikorsky" description="Product designer and design manager">
  <div class="index-page">
    <header>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/sikorsky-design.firebasestorage.app/o/images%2Ffav%20main.png?alt=media&token=d6f00778-ecd7-46c0-9349-0715ee3ad3aa"
        alt="Paul Sikorsky"
        class="avatar"
      />
      <h1 id="title">Paul Sikorsky</h1>
      <h2>
        Product designer with a passion for structured æsthetics and holistic approach. I build useful products, combining refined interaction design with a deep focus on user experience.
      </h2>
      <h2>
        Here's more <a href="/about" class="link">about me</a> and <a
          href="/now"
          class="link">what I'm up to lately</a>.
        Contact me on <a href="https://t.me/IngMaeSing" class="link" target="_blank">Telegram</a>, <a href="https://www.linkedin.com/in/paulsikorsky/"
        class="link" target="_blank">LinkedIn</a>, or at <a href="mailto:p@sikorsky.design" class="link">p@sikorsky.design</a>.
      </h2>
    </header>
    <section id="professional-experience">
      <h3>Professional Experience</h3>
      <ul>
        <li>
          <div>
            <strong
              >Product Design Lead, <span class="secondary"
                >Avito, 2017&thinsp;–&thinsp;2024</span
              ></strong
            >
          </div>
        </li>
        <li>
          <div>
            <strong
              >Product Designer, <span class="secondary">Storia, 2016</span
              ></strong
            >
          </div>
        </li>
        <li>
          <div>
            <strong
              >UI/UX Designer, <span class="secondary"
                >Advertise, 2014&thinsp;–&thinsp;2016</span
              ></strong
            >
          </div>
        </li>
        <li>
          <div>
            <strong
              >Digital Designer, <span class="secondary"
                >MaximumSoft, 2013&thinsp;–&thinsp;2014</span
              ></strong
            >
          </div>
        </li>
      </ul>
    </section>
    <section id="product-design-cases">
      <h3>Product Design Cases</h3>
      <ol>
        <li>
          <div class="link-caption-wrapper">
            <div class="link-block">
              <a href="/autoload" class="link">
                UGC Uploader Redesign for the World's First Classified Service
              </a>
            </div>
            <div class="caption" tabindex="0">
              How I managed a junior designer to create a comprehensive vision for a complex tech product, and increased Customer Effort Score (CES) by 20%
            </div>
          </div>
        </li>
        <li>
          <div class="link-caption-wrapper">
            <div class="link-block">
              <a href="/ugc" class="link"
                >User Generated Content Quality and Quantity Research
                Experiments</a
              >
            </div>
            <div class="caption" tabindex="0">
              How I refined the posting flow through experiments, improved
              conversion by 3.4%, and established best practices
              for high-quality user generated content
            </div>
          </div>
        </li>
        <li>
          <div class="link-caption-wrapper">
            <div class="link-block">
              <a href="/avitologist" class="link"
                >Avitologists Certification Program Launch</a
              >
            </div>
            <div class="caption" tabindex="0">
              How I created a certification program for Avito's top external
              marketing specialists working with SMEs, certifying 150+ experts
              and driving $2M in seller ARPPU growth
            </div>
          </div>
        </li>
      </ol>
    </section>
    <section id="my-projects">
      <h3>My Projects</h3>
      <ul>
        <li>
          <div class="link-caption-wrapper">
            <div class="link-block">
              <a
                href="https://t.me/initsrightplace"
                class="link"
                target="_blank"
              >
                In It’s Right Place
              </a>
            </div>
            <div class="caption" tabindex="0">
              My Telegram channel about self-design (Russian inside)
            </div>
          </div>
        </li>
        <li>
          <div class="link-caption-wrapper">
            <div class="link-block">
              <a href="/baseline" class="link">Baseline</a>
            </div>
            <div class="caption" tabindex="0">
              My mission to build a universal self-design system that integrates the personal growth practices I use into an AI-powered diary
            </div>
          </div>
        </li>
      </ul>
    </section>
    <section id="notes">
      <h3>Notes</h3>
      <ul>
        <li>
          <div class="link-caption-wrapper">
            <div class="link-block">
              <a href="/ld" class="link">
                A Holistic Blueprint for Life Design
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="link-caption-wrapper">
            <div class="link-block">
              <a href="/change" class="link">
                What I Learned about Change as a Product Designer at Avito
              </a>
            </div>
          </div>
        </li>
      </ul>
    </section>
    <section id="contacts">
      <h3>Contacts</h3>
      <p>
        If you're interested in doing something together, please introduce
        yourself:
        <br />
        <a href="https://t.me/IngMaeSing" class="link" target="_blank"
          >Telegram</a
        >,
        <a
          href="https://www.linkedin.com/in/paulsikorsky/"
          class="link"
          target="_blank">LinkedIn</a
        >,
        <a href="mailto:p@sikorsky.design" class="link">p@sikorsky.design</a>.
      </p>
    </section>
  </div>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const wrappers = document.querySelectorAll(".link-caption-wrapper");

    wrappers.forEach((wrapper) => {
      const link = wrapper.querySelector("a");
      const caption = wrapper.querySelector(".caption");

      wrapper.addEventListener("click", (e: MouseEvent) => {
        e.preventDefault();

        if (link && !link.classList.contains("disabled-link")) {
          if (e.metaKey || e.ctrlKey) {
            window.open(link.href, "_blank");
          } else if (link.target === "_blank") {
            window.open(link.href, "_blank");
          } else {
            window.location.href = link.href;
          }
        }
      });

      caption?.addEventListener("keydown", (event) => {
        if (
          // @ts-ignore
          event.key === "Enter" &&
          link &&
          !link.classList.contains("disabled-link")
        ) {
          event.preventDefault();
          link.click();
        }
      });
    });
  });
</script>
