---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import ld1 from "../images/ld/ld-1.png";
import ld2 from "../images/ld/ld-2.png";
import ld3 from "../images/ld/ld-3.png";
---

<Layout
  title="My Experience with the reMarkable Paper Pro, a Tool for Slow Productivity"
  description="Using an e-ink tablet for a more focused approach to designing and writing"
  pageId="remarkable"
>
  <div class="metadata">
    <time datetime="2025-11-03">November 3, 2025</time>
    ·
    <a
        class="link"
        href="https://t.me/initsrightplace/246"
        target="_blank">Originally published on my Telegram channel</a
    >
    · <span class="tags">tools, workflow</span>
  </div>
  <header>
    <h1 id="title">My Experience with the reMarkable Paper Pro, a Tool for Slow Productivity</h1>
    <h2>
        Two months ago, I bought <a href="https://remarkable.com/products/remarkable-paper/pro" class="link" target="_blank">a reMarkable Paper Pro</a>. After years inside Apple’s comfortable ecosystem, I wanted to try something different: a device built for a calmer, more focused way to read, write, and design. Before that, I used an iPad for those same tasks, but often got sidetracked by the occasional mindless Fallout Shelter session.
    </h2>
  </header>
  <section>
    <p>
      <Image src={ld1} alt="year planning guide" class="image" />
    </p>
  </section>
  <section>
    <h2>Disclaimer</h2>
    <p>
      This article is a lengthy read and includes several practices that require
      time and attention. I encourage you to scan the content briefly first,
      then set aside dedicated time to read and engage with each practice
      individually. This process may take days or even weeks, and that's
      perfectly fine. Please don't rush yourself through it.
    </p>
    <p>
      If you prefer Russian, check out <a
        href="https://t.me/initsrightplace/211"
        class="link"
        target="_blank">the post on Telegram</a
      >.
    </p>
  </section>
</Layout>
