---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import ld1 from "../images/ld/ld-1.png";
import ld2 from "../images/ld/ld-2.png";
import ld3 from "../images/ld/ld-3.png";
---

<Layout
  title="My Experience with the reMarkable Paper Pro, a Tool for Slow Productivity"
  description="Using an e-ink tablet for a more focused approach to designing and writing"
  pageId="remarkable"
>
  <div class="metadata">
    <div><time datetime="2025-11-03">November 3, 2025</time>
    ·
    <a
        class="link"
        href="https://t.me/initsrightplace/246"
        target="_blank">Originally published on my Telegram channel</a
    >
    · <span class="tags">tools, workflow</span>
    </div>
  </div>
  <header>
    <h1 id="title">My Experience with the reMarkable Paper Pro, a Tool for Slow Productivity</h1>
    <h2>
        Two months ago, I bought <a href="https://remarkable.com/products/remarkable-paper/pro" class="link" target="_blank">a reMarkable Paper Pro</a>. After years inside Apple’s comfortable ecosystem, I wanted to try something different: a device built for a calmer, more focused way to read, write, and design. Before that, I used an iPad for those same tasks, but often got sidetracked by the occasional mindless Fallout Shelter session.
    </h2>
  </header>
  <section>
    <p>
      <Image src={ld1} alt="year planning guide" class="image" />
    </p>
  </section>
  <section>
    <h2>User experience: 9/10</h2>
    <p>
      This device is made for two things — reading and writing, and nothing else.  
      No distractions, just the two jobs that actually matter to me. I love that. I take it everywhere now, instead of carrying a          separate book and notebook.
    </p>
    <p>
      It loads slowly, you can almost _feel_ it thinking under the hood. It’s annoying, but in a strange way, that delay grounds           you. It sets the pace for calm, focused work. You stop rushing, stop switching. You just do one thing, thoughtfully.
    </p>
  </section>
   <section>
    <h2>Screen: 8/10</h2>
    <p>
      At first, it feels unusually dim, even at maximum brightness. Years of doomscrolling on OLEDs have probably burned my retina’s       expectations.
    </p>
    <p>
      That said, it’s great for reading outside, even in bright sunlight, and surprisingly comfortable to read in bed at night.
    </p>
    <p>
      There are eight highlight colors besides black. All of them dull.
    </p>
  </section>
</Layout>
