---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import ld1 from "../images/ld/ld-1.png";
import ld2 from "../images/ld/ld-2.png";
import ld3 from "../images/ld/ld-3.png";
---

<Layout
  title="My reMarkable Paper Pro Experience, a Tool for Slower, Deeper Work"
  description="Creating a personalized framework for lasting change"
  pageId="ld"
>
  <div class="metadata">
    <time datetime="2025-11-03">November 3, 2025</time>
    · <span class="tags">goal-setting, journaling</span>
  </div>
  <header>
    <h1 id="title">My reMarkable Paper Pro Experience, a Tool for Slower, Deeper Work</h1>
    <h2>
      I believe that personal design is the foundation for a meaningful life.
      After ten years of experimentation, I developed a framework of artifacts
      and practices that guide my daily life. The key is to start with a
      holistic vision of your ideal future and then break it down into
      actionable goals and daily habits that will help you embody that vision.
    </h2>
  </header>
  <section>
    <p>
      <Image src={ld1} alt="year planning guide" class="image" />
    </p>
  </section>
  <section>
    <h2>Disclaimer</h2>
    <p>
      This article is a lengthy read and includes several practices that require
      time and attention. I encourage you to scan the content briefly first,
      then set aside dedicated time to read and engage with each practice
      individually. This process may take days or even weeks, and that's
      perfectly fine. Please don't rush yourself through it.
    </p>
    <p>
      If you prefer Russian, check out <a
        href="https://t.me/initsrightplace/211"
        class="link"
        target="_blank">the post on Telegram</a
      >.
    </p>
  </section>
</Layout>
