---
import Breadcrumbs from "../components/Breadcrumbs.astro";
import { generateBreadcrumbs } from "../utils/generateBreadcrumbs";

const currentPath = Astro.url.pathname;
const pageTitle = Astro.props.title || "Current Page";
const breadcrumbItems = generateBreadcrumbs(currentPath, pageTitle);
---

<nav class="header" id="header">
  <div class="nav-content">
    <a href="/" class="logo" id="logo">
      <img src="/logo.png" alt="Paul Sikorsky logo" width="32" height="32" />
    </a>
    <Breadcrumbs items={breadcrumbItems} />
  </div>
</nav>

<style>
  .header.hidden {
    opacity: 0;
    visibility: hidden;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {

    const logo = document.getElementById("logo");
    const isHome = window.location.pathname === "/";

    logo?.addEventListener("click", function (e) {
      if (isHome) {
        e.preventDefault();

        window.scrollTo({
          top: 0,
          behavior: "smooth"
        });
      }
    });
  });
</script>
