---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="What I'm up to lately">
  <div class="metadata">
    <time datetime="2024-10-30"
    >Updated October 30, 2024, from my rent apartment in Moscow</time
    >
  </div>
  <header>
    <h1 id="title">What I'm up to lately</h1>
  </header>
  <section>
    <h2>Left my job in a big tech company</h2>
    <p>
      I worked at Avito, the world's first classified service, for almost seven
      years and left in March. I have reflected on <a
      href="/change"
      class="link">the lessons I learned</a
    > during my time there, and now feel both grateful and relieved.
    </p>
  </section>
  <section>
    <h2>Looking for a great company to join</h2>
    <p>
      I worked at the AI startup <a
      href="https://www.anecdoteai.com/"
      target="_blank"
      class="link">Anecdote</a
    > for a few months and became excited about the possibilities within this field.
      Recently, I read Harari's new book Nexus, which discusses the dangers of AI.
      However, I still find myself leaning toward the optimistic side of the spectrum.
      I am now seeking a new job related to AI, where I can deepen my knowledge and
      make a meaningful contribution.
    </p>
    <p>
      Keywords to set my intention: mindfulness, self-help, physical and mental
      health, productivity tools, journaling.
    </p>
  </section>
  <section>
    <h2>Deepening my knowledge in user research</h2>
    <p>
      In April I attended <a
      href="https://zamesin.ru/producthowto/"
      target="_blank"
      class="link">Ivan Zamesin's course "How to Build a Product"</a
    >. The primary reason for this was to refresh my understanding of the JTBD
      framework. Ivan has evolved it into an advanced approach that addresses
      all aspects of researching human behavior for product development needs.
    </p>
    <p>
      Currently, I am revisiting some of the materials to design research for my
      project focused on journaling practices.
    </p>
  </section>
  <section>
    <h2>Building a holistic productivity system</h2>
    <p>
      Speaking of my project, I am working on integrating all the mindfulness
      practices and tools I use into one cohesive system, ultimately leading to
      a single tool.
    </p>
    <p>
      This system includes a 10-year life vision, life calendar, annual goals,
      tasks, habits, key metrics, emotion tracking, and a daily journaling
      practice.
    </p>
    <p>
      If you are using any of these practices and are willing to share your
      experience with me, please <a
      href="https://t.me/IngMaeSing"
      target="_blank"
      class="link">drop a line</a
    >, and we can schedule an hour for an interview.
    </p>
  </section>
  <section>
    <h2>Setting up my daily routine</h2>
    <p>
      I’ve always enjoyed structuring my day. This year, I followed Andrew
      Huberman's recommendations to craft a schedule for my ideal day. The goal
      was to reduce distractions while optimizing my mood, hours of deep work,
      and overall well-being.
    </p>
    <ul>
      <li>
        <strong>07:00:</strong> Wake up. Water with electrolytes, supplements, sun
        exposure, journaling, and positive affirmations.
      </li>
      <li>
        <strong>08:00 – 09:00:</strong> Work. This is my most focused time of the
        day.
      </li>
      <li>
        <strong>09:00 – 09:30:</strong> Stretching, Wim Hof breathing exercises,
        and a cold shower.
      </li>
      <li>
        <strong>09:30 – 10:30:</strong> Breakfast with 50 grams of protein and coffee.
      </li>
      <li>
        <strong>10:30 – 12:30:</strong> Work.
      </li>
      <li>
        <strong>12:30 – 13:00:</strong> Quick meal and Non-Sleep Deep Rest (NSDR)
        to recover.
      </li>
      <li>
        <strong>13:00 – 15:00:</strong> Work.
      </li>
      <li>
        <strong>15:30 – 18:30:</strong> Go to the gym for a workout, followed by
        sauna and breathwork.
      </li>
      <li>
        <strong>18:30 – 19:30:</strong> Dinner, then begin intermittent fast.
      </li>
      <li>
        <strong>19:30 – 20:30:</strong> Evening walk.
      </li>
      <li>
        <strong>20:30 – 21:00:</strong> Hot shower and personal hygiene.
      </li>
      <li>
        <strong>21:00 – 22:00:</strong> Work.
      </li>
      <li>
        <strong>22:00 – 23:00:</strong> Cool down and prepare for bed. Dim lights,
        read, journal, and plan for the next day.
      </li>
      <li>
        <strong>23:00:</strong> Go to bed.
      </li>
    </ul>
    <p>
      Of course, I don’t follow this schedule 100% every day. In fact, I feel
      good about myself if I manage to stick to at least 70%. This serves more
      as a guideline than a strict rule. Having it written down helps me review
      it when things start to fall apart, which they often do during major life
      changes.
    </p>
  </section>
  <section>
    <h2>Navigating the dating world</h2>
    <p>
      I feel a little embarrassed discussing this, but I want to build deep,
      meaningful relationships and eventually start a family. However, I’m
      frustrated with the process of finding a partner. Dating apps don’t really
      help. They maximize engagement but often lead to a lack of genuine
      connection. As a result, I’ve found myself stuck in a loop of constant
      swiping, casual dates, and never meeting the right person. It’s
      challenging to listen for quiet signals and catch the spark through a
      screen.
    </p>
    <p>
      Approaching in real life might be more effective, but I feel a block
      against it. The fear of rejection looms large. I try to remind myself that
      all people are different people.
    </p>
    <p>
      I don’t have any answers yet, but I believe in keeping my heart open and
      setting clear intentions. In the meantime, I’m focusing on personal growth
      and learning to let go of my current situation. I trust that I’ll get
      there somehow.
    </p>
  </section>
</Layout>

<style>
  strong {
    font-variant-numeric: slashed-zero;
  }
</style>
