---
import '../styles/global.css';
import Nav from '../components/Nav.astro';
import LikeButton from "../components/LikeButton.astro";

interface Props {
	title: string;
	pageId?: string;
}

const { title, pageId } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" sizes="32x32">
		<!--<link rel="icon" href="/icon.svg" type="image/svg+xml">-->
		<link rel="apple-touch-icon" href="/apple-touch-icon.png"><!-- 180×180 -->
		<link rel="manifest" href="/manifest.webmanifest">
		<link rel="preload" href="/fonts/Inter/InterVariable.woff2" as="font" type="font/woff2" crossorigin="anonymous">
		<link rel="stylesheet" href="/fonts/Inter/inter.css">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Nav title={title} />
		<main>
			<div class="content">
				<slot />
			</div>
		</main>
		<footer>
			{pageId && <LikeButton pageId={pageId} />}
			<p class="secondary">© 2012&thinsp;–&thinsp;2024&nbsp;Paul Sikorsky</p>
		</footer>
	</body>
</html>
